{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "complexity": "error"
    }
}
